{% extends 'base.html.twig' %}

{% block title %}Hello Liste des catégories!{% endblock %}

{% block body %}

<div class="container">

    <table class="table">
        <tr>
            <th>Nom</th>
            <th>Prix</th>
            <th>Editer</th>
            <th>Effacer</th>
        </tr>
        {% for produit in listeProduit %}
        <tr>
            <td>{{produit.name}}</td>
            <td>{{produit.price}}</td>
            <td><a href="{{path('editProduct',{'id':produit.id})}}">
                    Editer Produit</a>
            </td>

        </tr>

        <br>

        {% endfor  %}
    </table>


</div>
{% endblock %}
