{% extends "base.html.twig" %}

    {% block body %}

        <div class="container">
            <div class="row" style="border:1px solid black">
                
                    {# {{ dump(products) }} #}

                    {% for item in products %}
                        <div class="col" style="border:1px solid red">
                        {{item.name}} / {{item.price}} / {{item.slug}}
                        </div>
                        <br>
                    {% endfor %}

            </div>

    {% endblock %}